
<nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
      </a>
    </div>
    <div class="d-flex justify-content-center">
      <a href="">Faire Carière</a>
    </div>
  </nav>

  <section class="bg-image">
    <div class="color-overlay d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-6 text-white">
            <h2>Bienvenue chez IT AFRICA TECHNOLOGY </h2>
            <hr>
            <blockquote>
              <p class="lead">
                <i class="fw-bolder"> Optimisez votre entreprise grâce à nos solution informatique performantes</i>
              </p>
            </blockquote>
          </div>
          <div class="col-md-1 mt-4"></div>
          <div class="col-md-5 text-white align-self-center">
            <h2>
              NOTRE OBJECTIF PRINCIPAL
            </h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <p class="lead">
                    <i class="fw-bolder">Simplifiez votre vie grâce à notre expertise</i>
                  </p>
                </div>
                <div class="carousel-item">
                  <p class="lead">
                    <i class="fw-bolder">La technologie au service de votre entreprise</i>
                  </p>
                </div>
                <div class="carousel-item">
                  <p class="lead">
                    <i class="fw-bolder">Innovons ensemble pour un monde connecté</i>
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- <div class="container-fluid p-0">
    <div class="bg-image img-fluid" style="background-image: url('../../assets/images/img1.jpeg');"></div>
  </div> -->

  <section>
    <div class="container mt-5">
      <div></div>
      <div class="row mt-3">
        <div class="col-md-6 zoomtext fw-bolder text-justify myfontfamilly">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aperiam consequuntur nemo adipisci neque natus velit unde accusantium voluptate eaque voluptatem illo incidunt modi quaerat fugiat eligendi, voluptas facere ab.</p>
            <p>
            Inventore fuga, omnis dicta officiis, voluptas adipisci voluptatibus eveniet soluta maxime eius sed. Error, cum! Dignissimos eaque ad nostrum perferendis doloribus expedita labore? Ex ipsam nam et, distinctio dolor aspernatur?
          </p>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-5 myfontfamily">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda dolores minus non dolorem possimus praesentium, ipsum eaque ab tempore itaque! Beatae architecto facere soluta est blanditiis sunt deleniti consequatur accusamus.
          </p>

          <P>
            Provident nisi quaerat nemo officiis consequuntur, nam unde, dolorum eos aut, tenetur cumque accusantium repellat sunt! Laborum, qui. Id eius dicta deserunt earum tempora minima corrupti rerum hic. Tempore, veritatis?
          </P>

        </div>



      </div>
    </div>
  </section>
